.Stats-Container {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
  margin-left: 10px;
}
.Stats-Card {
  width: 220px;
  height: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Stats-CardItem {
  /* padding: 10px; */
}
